// Colors & typography
$primary-color: #0b63d6;
$secondary-color: #0bb583;
$bg-color: #ffffff;
$text-color: #1f2d3d;
$muted-color: #3e4347;

$font-main: 'Lato', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;

$bp-tablet: 768px;
$bp-desktop: 1024px;
